# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
tetris_env/


# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.pytest_cache/

# Mac system files
.DS_Store

# IDEs (VS Code & PyCharm)
.vscode/
.idea/
*.json